.gamepage {
    margin: 20px auto;
    background-color: #151b57;   
     width: 50%;
    display: flex;
    flex-direction: column;
}

.gamepage h2 {
    display: flex;
    justify-content: center;
}

.image{
   
    background-color: white;
   height: 400px;
}
.information {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid  #2c37b0;
    margin: 20px;
    
}


.addtocart{
    border: 2px solid  #2c37b0;
    margin:20px;
}